@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #522ffe;
  --card: #ffffff;
}

.dark {
  --background: #030304;
  --foreground: #ffffff;
  --primary: #522ffe;
  --card: #1d1d1d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .card-shadow {
    @apply shadow-[0_3px_10px_rgb(0,0,0,0.2)];
  }
}
