@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #522ffe;
  --card: #ffffff;
}

.dark {
  :root {
    --background: #030304;
    --foreground: #ffffff;
    --primary: #522ffe;
    --card: #1d1d1d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
